<html lang="en">
<head>

<link rel="stylesheet" href="/static/main.css">
<title>DragonDrop</title>

</head>

<body>

<div id="banner">
<img class = "banner" src="/static/dragondrop_text-01.png" >
</div>
<div id="block">
	<div id="blocktext">
		Welcome to Dragon Drop, a lightweight platform for synchronous tabletop gaming. 
	</div>
	<div id="button">
	CREATE A ROOM
	</div>
	<img class = "icon" src="/static/dragondrop_onecolor.png" >
</div>
<div id="footer">
<br>PROUDLY MADE AT HACKRU 2014</br>
</div>
</body>

</html>